body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: teal;
    color: antiquewhite;
}

li {
    list-style: none;
}

li *:hover {
    cursor: pointer;

}

.barred {
    text-decoration: line-through;
}